body,
html {
    height: 100%;
    /* The image used */
    background-image: url("./images/PSYCHICBG2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

li {
    font-weight: bold;
    font-size: 21px;

}